include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include sdf4sim/example/PI.fmu
include sdf4sim/example/PT2.fmu

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

prune sdf4sim/.mypy_cache
prune tests/.mypy_cache

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
